{% extends "/layout.html.twig" %}

{% block content %}
    <section class="groups__list">
        <div class="container">
            <div class="col-6 offset-3">
                <div class="row">
                    <h3 class="text-center mt-5">Редактирование группы {{ group.name }} (#{{ group.id }})</h3>
                    {{ flasher.display }}
                    <form action="/groups/{{ group.id }}/update" method="POST" name="group_edit">
                        <div class="mb-3  pt-5 row">
                            <label for="group" class="col-sm-2 col-form-label">Группа</label>
                            <div class="col-sm-10">
                                <input type="hidden" name="id" value="{{ group.id }}">
                                <input type="text" name="name" value="{{ group.name }}" id="group" class="form-control">
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Обновить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}